appnope==0.1.0
backcall==0.1.0
certifi==2018.11.29
chardet==3.0.4
cycler==0.10.0
decorator==4.3.0
idna==2.8
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.1
kiwisolver==1.0.1
matplotlib==3.0.2
mypy==0.650
mypy-extensions==0.4.1
numpy==1.15.4
pandas==0.23.4
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.5
ptyprocess==0.6.0
Pygments==2.2.0
pyparsing==2.3.0
python-dateutil==2.7.3
pytz==2018.5
requests==2.21.0
scipy==1.1.0
seaborn==0.9.0
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
typed-ast==1.1.0
urllib3==1.26.5
wcwidth==0.1.7
